apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: results
spec:
  type: NodePort
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
      nodePort: 32017  # NodePort must be between 30000-32767
